body {
    font-family: "Roboto";
    background-color: #FFFFFF;
    color: #434455;
    font-style: normal
}
/* Ununderlined links */
a {
    text-decoration: none;
}
/* Canceled dots */
ul {
    list-style: none;}
/* The blue part of the logo */
.colortextweb {
    font-family: "Raleway";
    color: #4D5AE5;
}
/* The black part of the logo */
.colortextstudio {
    font-family: "Raleway";
    color: #2E2F42;
  }
/* change the color of navigation links */
.site-navlist {
    color: #2E2F42
}  
/* change the color of address links */
.site-adres {
    color: #434455   
}
/* Aligning the phone and address font */
.site-font-style {
    font-style: normal;
}
/* change the background color of island */
.Island-bacground {
    background-color: #2E2F42;}
/* change the text title color of island */    
.island-title-color {
    color: #FFFFFF;
}
/* button design on the island */
.button {
    background: #5435ff;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #442dc7;
    transition: all ease-in-out .3s;
}
/* our features color */
.our-features-color {
    color: #2E2F42;
}
/*WAD color */
.WAD-color {
    color: #2E2F42;
}
/*our team color */
.our-team-color {
    color: #2E2F42;
}
/* The blue part of the logo in footer */
.colortextweb-in-footer {
    font-family: "Raleway";
    color: #4D5AE5;
}
/* The black part of the logo in footer */
.colortextstudio-in-footer {
    font-family: "Raleway";
    color: #f4f4fd;
  }